<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="sign_in.php" method="post">
        <p>
        <label for="name">nom</label>
        <input type="text">
        </p>
        <label for="family_name">post-nom</label>
        <input type="text">
        <p>
        <label for="first_name">prenom</label>
        <input type="text">
        </p>
        <label for="date">date</label>
        <input type="date">
        <p>
        <label for="genre">genre    </label>
        <label for="masculin">M</label>
        <input type="radio" name="sexe"> 
        <label for="feminin">F</label>
        <input type="radio" name="sexe">
        </p>
        <label for="mot_de_passe">Mot de passe</label>
        <input type="text" name="password">
        <p>
        <label for="mot_de_passe">confirmer Mot de passe</label>
        <input type="text" name="confirm_password">
        <p>
        <input type="submit" value="inscrire">
        <input type="reset" value="reinitialisé">
        <a href="../index.html">retour</a>
        </p>
    </form>
</body>
</html>